@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

/* card-sidemenu */
.n-menu .n-menu-item-content-header {
  color: white !important;
}
.n-menu .n-menu-item-content.n-menu-item-content--selected {
  border-radius: 20px;
  background: #dcc1c1;
  color: #163053 !important;
}
.n-menu .n-menu-item-content.n-menu-item-content--selected .n-menu-item-content-header {
  background-color: none !important;
  color: #163053 !important;
}
.n-menu .n-menu-item-content.n-menu-item-content--selected:hover::before {
  background-color: transparent !important;
}
.n-menu .n-menu-item-content.n-menu-item-content--selected::before {
  background-color: transparent;
}
.n-menu .n-menu-item-content:hover::before {
  background-color: #16305336 !important;
}
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
.v-table{
  background-color: transparent !important;
  border-collapse: collapse !important; /* (opcional) para que los bordes no se dupliquen */
  overflow: hidden;
  border-radius: 0 !important;
  border: 1px solid #D9D9D9 !important;
}
.v-table thead {
  font-size: 18px;
  color: #163053;
  font-weight: 400;
  border-radius: 0 !important;
}
.v-table th {
  background-color: #D9D9D9 !important;
  border-radius: 0 !important;
}
.v-table td {
  color: #565656;
  font-size: 16px;
  font-weight: 400;
  border: none !important;
}
.v-divider {
  border: 1px solid white !important;
}
.v-data-table-footer {
  background-color: transparent !important;
  color: #565656 !important;
}
.data-table{
  background-color: transparent !important;
  border: 1px solid #D9D9D9 !important;
  border-collapse: collapse !important; /* (opcional) para que los bordes no se dupliquen */
  overflow: hidden;
  padding-bottom: 10px;
}
.data-table .n-data-table .n-data-table-td{
  background-color: red !important;
}
.dp__input {
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133)) !important;
    border-image: initial !important;
}
.dp__input::placeholder {
  color: rgb(118, 118, 118) !important;
}
.dp__range_between{
  background-color: #A8003852 !important;
  color: white !important;
  border: none !important;
}
.v-window {
  overflow: visible !important;
}
.v-card {
  overflow: visible !important;
}
.v-card-text {
  padding: 16px 8px 16px !important;
}
.n-image-preview-container {
  z-index: 3000 !important;
}
.v-card .n-image img {
  width: 100%;
  height: 200px;
}